<h1>Kittens#index</h1>
<p>Find me in app/views/kittens/index.html.erb</p>

<% @kittens.each do |kitten| %>
    <div>
        <h2>Name: <%= kitten.name %></h2>
        <p>Age: <%= kitten.age %></p>
        <p>Cuteness: <%= kitten.cuteness %></p>
        <p>Softness: <%= kitten.softness %></p>

        <%= button_to "Destroy Kitten", kitten_path(kitten), method: :delete %>
    </div>
<% end %>
