<h1>Kittens#show</h1>
<p>Find me in app/views/kittens/show.html.erb</p>

<h1><%= @kitten.name %></h1>
<p>Age: <%= @kitten.age %></p>
<p>Cuteness: <%= @kitten.cuteness %></p>
<p>Softness: <%= @kitten.softness %></p>

<%= button_to "Destroy Kitten", kitten_path(@kitten), method: :delete %>